/* RESET DEFAULTS */
* {
  margin: 0px auto;
  padding: 0px; 
  outline: none;
  border: 0px;
}

/* HEADERS */
.header {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to top,#503002,transparent),url(/app/global_assets/FadeoutBackground.svg);
    background-position: top center;
    background-blend-mode:hard-light;
    background-clip: border-box;
    background-size: 100% auto;
    background-position: bottom;
    justify-items: auto;
    flex-direction: row;
}

.headerItem {
    text-align:center;
    position: relative;
    color: wheat;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.headerDiv {
    display: flex;
    column-gap: 5vw;
    align-items: baseline;
}

#titleText {
    width: auto;
    height: auto;
    max-height: 55px;
    left: -10px;
    right: -10px;
    filter:brightness(120%) contrast(115%);
}

#usernameText {
    margin-right: 30px;
}

#accountActions {
    background-color: transparent;
}

/* SCREEN SIZE ALTS */
@media screen and (max-width: 600px) {
    .header {
        justify-content: center;
    }

    .headerItem {
        font-size: 4.2vw; /* Will use Android Phone Emulator to test if this looks okay on multiple screen sizes. */
    }

    #titleText {
        left: 0px;
        right: 0px;
    }

    #usernameText {
        margin-right: 0px;
    }
}